# misc
.DS_Store
.env*.local

# dependencies
node_modules

# Logs
logs
*.log
.pnpm-debug.log*

# Typescript
*.tsbuildinfo

# Next.js
.next
out
next-env.d.ts

# Vercel
.vercel

# Wrangler
.wrangler

# Storybook
**/public/storybook

# Turborepo
.turbo
