# misc
.DS_Store
.env*.local

# dependencies
node_modules

# Logs
logs
*.log
.pnpm-debug.log*

# Typescript
dist
*.tsbuildinfo

# Next.js
.next
.open-next
out
next-env.d.ts

# Vercel
.vercel

# Wrangler
.wrangler
wrangler.json
worker-configuration.d.ts

# Storybook
**/public/storybook

# Turborepo
.turbo

# Rust
target

# GraphQL
**/graphql/generated
*.graphql
